/* the styles for the elements */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;

  width: 600px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: #931420 solid 3px;
  background-color: #fffded;
}
a:focus,
a:hover {
  font-style: italic;
}
blockquote {
  font-style: italic;
}

/* the styles for the header */
header {
  padding-top: 1.5em;
  padding-bottom: 2em;
  border-bottom: #931420 solid 3px;
  background-image: linear-gradient(
    30deg,
    #f6bb73 0%,
    #fffbcf 25%,
    white 35%,
    white 65%,
    #fffbcf 80%,
    #f6bb73 100%
  );
}

header h2 {
  font-size: 175%;
  color: #800000;
}
header h3 {
  font-size: 130%;
  font-style: italic;
}
header img {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}
.shadow {
  text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */
main {
  clear: left;
  padding-left: 30px;
  padding-right: 30px;
}
main h1 {
  font-size: 150%;
  background-color: white;
  border: #931420 double 3px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 6px 6px 0px 0px black;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
}
main h2 {
  color: #800000;
  font-size: 130%;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
main h3 {
  font-size: 105%;
  padding: 0.25em;
}
main img {
  padding-bottom: 1em;
}
main p {
  padding-bottom: 0.5em;
}
main blockquote {
  padding-left: 2em;
  padding-right: 2em;
}
main ul {
  padding-bottom: 0.25em;
  padding-left: 1.25em;
}
main li {
  padding-bottom: 0.35em;
}

/* the styles for the footer */
footer {
  background-color: #931420;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer p {
  text-align: center;
}
