body {
    font-family: Arial, Helvetica, sans-serif;
     font-size: 100%;
    width: 550px;
    margin: 0 auto;
    padding: 1em;
    border: 3px solid navy;
}
h1 {
    margin: 0;
    padding: .25em;
    color: forestgreen;
    font-size: 45px;
}
img {
    float: right;
    width: 180px;

    margin: 0 1em;
}
p {
    margin: 0;
    padding-bottom: .5em;
}
#service {
    color: skyblue;
    clear: both;
}`