@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
	--articleColor : rgba(36,69,133,0.7);
	--lineColor: #f0f0f0;
	--bodyFontColor:  #f0f0f0;
	--footerFontColor:#cccccc;
	
	--discography1Color: #34589B;
}

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	background: linear-gradient(180deg,   rgba(52,88,155,0.5) 0%,  rgba(52,88,155,0.8) 50%,   rgba(52,88,155,1) 100%);

	font-family: 'Staatliches', cursive;
	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family: 'Staatliches', cursive;
	letter-spacing: 0.1em;
	
}

h1{
	/* The logo text */
	font-size:4em;
	padding:0.5em 0 0;
	letter-spacing: 0.1em;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family: 'Staatliches', cursive;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

iframe{
	border: 0;
}

/*heading effect*/
.effect{
	position: relative;
	height: 130px;
}
.effect div{
		position: absolute;

}
.effect1{
	animation: text-effectbasic infinite 5s alternate;
}

.effect2{visibility: hidden;}
.effect3{visibility: hidden;}
.effect4{visibility: hidden;}

.effect:hover .effect4{ visibility: visible; color: #FD138A; left: 15px;top: 9px;	animation: text-effect infinite 1.0s alternate; animation-delay: 0.4s;}
.effect:hover .effect3{visibility: visible; color: #28D58F; left: 10px;top: 6px;		animation: text-effect infinite 1s alternate-reverse; animation-delay: 0.1s;}
.effect:hover .effect2{visibility: visible; color: #FFBA00; left: 5px;top: 3px;		animation: text-effect infinite 1s alternate; animation-delay: 0.0s;}
.effect:hover .effect1{visibility: visible; color: #f0f0f0; left: 0px;top: 0px; animation: none;}
@keyframes text-effectbasic{
	0%{opacity: 0.3;}
	100%{opacity: 1;}
}

@keyframes text-effect{
	0%{color:#15007F;}
	20%{color: #F40000;}
	40%{color: #28D58F;}
	60%{color:  #FD138A; }
	80%{color: #FFBA00;}
}

p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.go_up {
	float: right; 
	padding-right: 15px;  
	padding-left: 15px;  
	animation-duration: 1s;
	animation-name: rotation;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes rotation{
	0%{opacity: 0.3;}
	100%{opacity:1;}
}

.line{
	/* The dividing line: */
	height:1px;
	background-color: var(--lineColor);
	border-bottom:1px solid var(--lineColor);
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:var(--lineColor)

}

footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	
	border:1px solid #FCFCFC;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;

}

nav ul li a:hover{
	text-decoration:none;
	color: #f6c451;
	transition: 0.5s all;
}

nav, article, nav ul li a{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}


/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color: var(--articleColor);
	margin:3em 0;
	padding:20px;
	height: auto;
	overflow: hidden;
	
}

article h2{
	letter-spacing: .08em;
	word-spacing: .01em;
}

article p{
	font-size: 1.2em;
	letter-spacing: .05em;
}

#article1{
	margin: 0;
	margin-left: 0;
	margin-bottom: 20px;
	width: 920px;
}

#article1 figure{
	cursor: alias;
}

.aside{
	float: left;
	width: 25%;
}

.aside h2{
	padding-bottom: 10px;
}

.aside .yellow{
	color: #FAE59D;
}
#asidecontent{
	padding-top: 1em;	
}

.articleBody{
	position: relative;
	float: left;
	width: 50%;
	padding: 50px 20px 0;
}

.articleBody h2{
	position: absolute; top: 30px; left: 180px;
}

.aside2{
	position: relative;
	float: left;
	padding-left: 1%;
	padding-top: 50px;
	width: 19%;
}
.aside2 img{
	padding-bottom: 20px;
}

/*Side Effect1*/
#asidecontent {
	position: relative;
	perspective: 600px;
	display: block;
	float: left;
	padding-left: 2%;
}
#asidecontent .front{
	transform: rotateY(0deg);
	transition: all 0.5s ease-in-out;
	backface-visibility: hidden;
	width: 100%;
}
#asidecontent .back{
	position: absolute;top:110px;left:0;
	width: 100%; height: 100%;	z-index: -1;
	color: #fff;

	transform: rotateY(-180deg);
	transition: all 0.5s ease-in-out;
	backface-visibility: hidden;
	opacity: 0;

}
#asidecontent:hover .front{
	transform: rotateY(180deg);;
	opacity: 0;
}
#asidecontent:hover .back{
	transform: rotateY(0deg);
	opacity: 1;
	z-index: -1;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	position:relative;
	color:var(--footerFontColor);
	font-size: 1.2em;
}

footer .line{

	width: 100%;;
}


footer a,footer a:visited{
	color:var(--footerFontColor);
	display:inline;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	color: #f6c451;
	transition: 0.3s all;
}
