html {
	background-image: url("../images/bats.gif");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
    font-weight: bold;
    color: orange;
}
a:link, a:visited { 
    color: orange; 
}
a:hover, a:focus { 
    color: green;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
		padding: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
    border-bottom: 2px solid black;   
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
}
/* Nav */
nav{
	display: block;
}
nav.menu ul{
	margin-top: 0;
	background-color: black;
	position: relative; 
	list-style: none;
	
}
nav.menu ul li{
	float: left;
}
nav.menu ul li a{
	text-align: center;
	display: block;
	color: white;

	padding-bottom: 1em;
	padding-top: 1em;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
}

#home{
	color: orange;
}

.menu ul ul{
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	width: 195px;
	top: 100%;

}

.menu ul ul li{
	float: none;
}

.menu ul li:hover > ul {
	display: block; 
}
.menu > ul::after {
	content: "";
	display: block;
	clear: both; 
}


nav.menu ul li a:hover{
	background-color: gray;
}

/* Sidebar */
aside {
	float: left; 
	width: 160px;
	padding: 20px 0;
}
aside ul {
	line-height: 2.5;
	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
}
aside ul li{
	border: 2px solid black;
	margin-bottom: 10px;
	background-color: orange;
}

.menu_vertical{

	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.menu_vertical{
	text-decoration: none;
	color: black;
}
.menu_vertical:visited{
	text-decoration: none;
	color: black;
}
.menu_vertical:link{
	text-decoration: none;
	color: black;
}
.menu_vertical:hover{
	color: green;
}
 
/* Section */
section {
	width: 580px;
	float: right;
	padding: 20px 40px 20px 20px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h1:first-letter { 
	font-size: 240%;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}


/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}