html {
	background-image: url("../images/bats.gif");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
  padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
}

/* Navigation menu */
#namenu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 160px;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a.current {
	color: orange;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

/* Sidebar */
#lefe_aside {
	float: left; 
	width: 160px;

}
#right_aside {
	float: right; 
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
	background-color: #F5DEB3;
}
#right_aside h2{
  padding-top: 20px;
  font-size: 80%;
}
#right_aside ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}
#right_aside ul li a{
  color:  black
}
#right_aside ul li a:visited, #right_aside ul li a:link{
  color:  black
}

#right_aside ul li a:hover, #right_aside ul li a:focus{
  color: green;
}

figure{
  margin-left: 20px;
  margin-right: 0px;
}

#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}
#nav_list ul li { 
	width: 110px;
	margin-bottom: .5em;
	border: 2px solid black; }
#nav_list ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background-color: orange;
	padding: .5em 0 .5em .5em;
	color: black;
}

/* Section */
section {
	width: 420px;
  float: left;
  height: 320px;
	padding: 20px 0px 20px 00px;	
}
section h1 { 
  font-size: 140%;
	margin-bottom: .5em;
}

section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
  margin-bottom: .5em;
  display: inline;
}
section div{
  float: left;
  height: 100%;
  padding-right: 40px;
}
section a {
	font-weight: bold;
	color: orange;
}
section a:link, main a:visited { 
    color: orange; 
}
section a:hover, main a:focus { 
    color: green;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}