/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: yellow;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid red;
    background-color: white;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid red;
	background-color: white;
}
header h2 {
	font-size: 175%;
	color: blue;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}


/* the styles for the form */
fieldset {
    margin-bottom: .5em;
    padding: .5em 1em;
}
legend {
    font-weight: bold;
    font-size: 85%;
    padding-bottom: .5em;
}
label, input, select {
	font-size: 90%;
}
label {
	float: left;
	width: 10em;
	text-align: right

}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
input:required, input[required] input:invalid {
	border: solid 1px blue;
}

br {
    clear: both;
}
#radio label {
	float: none;
}
#radio input {
	width: auto;
	margin-left: 7em;
}
#exp_month {
	width: 7em;
}
#exp_year {
	width: 5em;
}
#buttons input {
	width: 10em;
}
#submit{
	border: 1px black solid;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
  
    color: white;
		font-weight: bold;
		
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	color: red;
	padding: .5em 0 .25em 0;
	margin: 0;
}

/* the styles for the aside */
aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px;
}
aside h2 {
	color: red;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	background-color: blue;
	clear: both;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
