
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root{
  --body_color : #FCD26A;
  --title_backcolor : rgba(37,39,40,0.7);
  --line_color : white;
  --pointy_color : #FCD26A;
  --nav_fontcolor: white;
  --article_backcolor : rgba(57,57,57,0.6);
  --footer_fontcolor :#cccccc;
}

*{
  margin: 0;
  padding: 0;
}

body{
  width: 960px;
  margin: 20px auto;
  background: radial-gradient(circle, rgba(140,131,131,1) 0%, rgba(57,57,57,1) 85%, rgba(45,45,55,1) 100%);
  font-family: 'Roboto', sans-serif;
}

.line{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border-top: solid 3px var(--line_color);
}

h3{
  margin: 0.5em 0.5em 0.8em 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 2px var(--line_color);
}

h1{
  margin: 0.5em 0.5em 0.8em 0.5em;
  color: var(--pointy_color);
}

img{
  border: var(--footer_fontcolor) 1px solid;
}

/*header*/
header{
  color: black;
  margin-bottom: 1em;
}

header figure{
  margin-top: 0.9em;
}

#title{
  padding: 0.7em 5em 1em 3em;
  color : white;
  background-image: url(../images/Van+Gogh+exhibition.jpg);
  background-position: left center;
  height: 53px;
}
#title h1{
  font-size: 200%;
  margin: 0;
  color: white;
  float: left;
}

#title h1 span{
  color:var(--pointy_color);
}
#title h2{
  float: right;
}

#title p{
  font-weight: bold;
  color:var(--pointy_color);
  font-size: 130%;
}

/*navigation*/
#nav_menu ul{
  list-style-type: none;
  position: relative;
}

#nav_menu ul li{
  
  float: left;
  width: 214px;
}

#nav_menu ul ul{
  display: none;
  float: none;
  position: absolute;
  top: 100%;  
}

#nav_menu ul ul li{
  float: none;
  position: relative;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
}

#nav_menu ul ul li ul{
  position: absolute;
  left: 100%;
  top: 0;
}

#nav_menu ul li ul{
  background-color: rgba(0,0,0,0.8);
}

#nav_menu ul li ul ul{
  position: absolute;
  left: 100%;
  top: 0; 
  width: 214px;
}

#nav_menu ul li:hover> ul { 
  display: block; 
}
#nav_menu > ul::after {
  content: "";
  clear: both;
  display: block; 
}

#nav_menu ul li a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--nav_fontcolor);  
  font-weight: bold;
  padding: 0.3em 0 0.3em 0;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus{
  color: #FCD26A;
}
#nav_menu ul li ul li a:hover #nav_menu ul li ul li a:focus{
  color: white;
  background-color: #FCD26A;
}

/*aside navigation*/
.article{
  border-radius: 10px;
  background-color: var(--article_backcolor);
  margin-top: 1em;
  margin-right: 1.2em;
  margin-bottom: 1em;
  color: white;
}

#aside_nav{
  float: left;
  width: 18%;
  text-align: center;
}
#aside_nav figure img{
  padding: 0.6em;
}
#aside_nav figure figcaption{
  color: white;
  margin-bottom: 1em;
}

#aside_nav figure:hover > figcaption{
  color: #FCD26A;
  font-weight: bold;
}

#aside_nav figure:hover > a img{
  border: 1px solid var(--pointy_color);
}


/*main*/
#main{
  width: 58%;
  float: left;
  text-align: center;
}

#aside_right{
  width: 20%;
  float: right;
  margin-right: 0;
  text-align: center;
}

footer{
  clear: both;
  border-top: solid 3px var(--line_color);
  text-align: center;
  color: var(--footer_fontcolor);
  padding: 1em 0 1em 0;
}
