@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


:root{
	--articleColor : #393939;
	--lineColor: #f0f0f0;
	--bodyFontColor:  #f0f0f0;
	--footerFontColor:#cccccc;

	--discography1Color: #c4698B;
	--discography2Color: #244585;
	--discography3Color: #A1BDE4;
	--discography4Color: #8BC6B6;
}

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}


body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	background: radial-gradient(circle, rgba(140,131,131,1) 0%, rgba(57,57,57,1) 85%, rgba(45,45,55,1) 100%);
	font-family: 'Staatliches', sans-serif;
	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family: 'Staatliches', sans-serif;
	letter-spacing: 0.1em;
	
}

h1{
	/* The logo text */
	font-size:4em;
	padding:0.5em 0 0;
	letter-spacing: 0.1em;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family: 'Staatliches', sans-serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
/*heading effect*/
.effect{
	position: relative;
	height: 130px;
}
.effect div{
		position: absolute;

}
.effect1{
	animation: text-effectbasic infinite 5s alternate;
}

.effect2{visibility: hidden;}
.effect3{visibility: hidden;}
.effect4{visibility: hidden;}

.effect:hover .effect4{ visibility: visible; color: #FD138A; left: 15px;top: 9px;	animation: text-effect infinite 1.0s alternate; animation-delay: 0.4s;}
.effect:hover .effect3{visibility: visible; color: #28D58F; left: 10px;top: 6px;		animation: text-effect infinite 1s alternate-reverse; animation-delay: 0.1s;}
.effect:hover .effect2{visibility: visible; color: #FFBA00; left: 5px;top: 3px;		animation: text-effect infinite 1s alternate; animation-delay: 0.0s;}
.effect:hover .effect1{visibility: visible; color: #f0f0f0; left: 0px;top: 0px; animation: none;}
@keyframes text-effectbasic{
	0%{opacity: 0.3;}
	100%{opacity: 1;}
}

@keyframes text-effect{
	0%{color:#15007F;}
	20%{color: #F40000;}
	40%{color: #28D58F;}
	60%{color:  #FD138A; }
	80%{color: #FFBA00;}
}


.go_up {
	float: right; 
	padding-right: 15px;  
	padding-left: 15px;  
	animation-duration: 1s;
	animation-name: rotation;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes rotation{
	0%{opacity: 0.3;}
	100%{opacity:1;}
}


p{
	line-height:1.5em;
	padding-bottom:1em;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color: var(--lineColor);
	border-bottom:1px solid var(--lineColor);
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:var(--lineColor)

}

footer .line{
	margin:2em 0;
}

nav{
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	
	border:1px solid #FCFCFC;

	box-shadow:0 1px 1px #333333;
	border-radius:10px;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;

}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-transform:uppercase;

}

nav ul li a:hover{
	text-decoration:none;
	color: #f6c451;
	transition: 0.5s all;
}

article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color: var(--articleColor);
	margin:3em 0;
	padding:20px;
	height: 480px;
	overflow: hidden;
}

figure{
	position: relative;
	float:right;
	height: 400px;
	width: 400px;
	margin-left:15px;
	border-radius:10px;

}

figure .info{
	position: absolute; bottom: 0%;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 0.35s ease-in-out;
}
figure:hover .info{
	opacity: 1;
}
figure .info h3 {
	color:  #fff;
	font-size: 15px;
	padding-top: 20px;
	overflow:hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

figure .info h3 {
	opacity: 0.5;
}

article h2{
	letter-spacing: .08em;
	word-spacing: .01em;

}

#article1:hover h2{
	color: var(--discography1Color);
	transition: 0.3s all;
}
#article2:hover h2{
	color: var(--discography2Color);
	transition: 0.3s all;
}
#article3:hover h2{
	color: var(--discography3Color);
	transition: 0.3s all;
}
#article4:hover h2{
	color: var(--discography4Color);
	transition: 0.3s all;
}

article p{
	font-size: 1.2em;
	letter-spacing: .05em;

}

.content
{
	float: left;
	width: 480px;
}

.content p{
	opacity:0.5;

}
.content p:hover{
	opacity:1;
	transition: 0.3s all;
}

.articleBody{
	position: relative;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	position:relative;
	color:var(--footerFontColor);
	font-size: 1.2em;
}

footer a,footer a:visited{
	color:var(--footerFontColor);
	display:inline;
	padding:2px 4px;
	z-index:100;
	position:relative;
	transition: 0.3s all;
}

footer a:hover{
	text-decoration:none;
	color: #f6c451;
	transition: 0.3s all;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
